PORT=3000
HOST=localhost
APP_URL=http://localhost:3000
NODE_ENV=development
APP_SECRET_KEY=
FLUTTERWAVE_KEY=

# DATABASE DETAILS
DB_NAME=YOUR DATABASE NAME
DB_USER=YOUR DATABASE USER
DB_PASSWORD=YOUR DATABASE PASSWORD
DB_PORT=YOUR DATABASE PORT

# TEST DATABASE DETAILS
TEST_DB_NAME=YOUR DATABASE NAME
TEST_DB_USER=YOUR DATABASE USER
TEST_DB_PASSWORD=YOUR DATABASE PASSWORD
TEST_DB_PORT=YOUR DATABASE PORT